<% title "#{mes(@month.month)} #{@month.year}" %>
<h1><%= link_to mes(@month.month), account_year_path(@account, @month.year) %> <%= link_to @month.year, [@account, :years] %></h1>

<%= render_report @month.report %>
<% form_for [@account, @month] do |form| %><%= form.submit 'Actualizar' %>
<% end %>
<%= render_tag_report @month.report %>

<h2>Desde el <%= @month.begin_date.mday %> de <%= mes @month.begin_date.month %> de <%= @month.begin_date.year %>
  (<%= euros @month.r(:before) %>)</h2>
<%= render_movements @month.movements %>
<h2>Hasta el <%= @month.end_date.mday %> de <%= mes @month.end_date.month %> de <%= @month.end_date.year %>
  (<%= euros @month.r(:after) %>)</h2>

