<li class="movement" id="movement-<%= movement.id %>">
  <div class="properties">
    <p class="property date"><%= link_to "#{movement.d.mday}/#{movement.d.month}", account_month_path(@account, "#{movement.d.year}-#{movement.d.month}") %>
      /<%= link_to movement.d.year, account_year_path(@account, movement.d.year) %></p>

    <p class="property number ammount"><%= euros_of movement.ammount, :class => "value #{(movement.ammount > 0 ? 'positive' : 'negative')}" %></p>

    <p class="property number balance"><span class="ammount"><%= euros movement.balance_before %></span></p>

    <p class="property number balance"><span class="actual"><%= euros movement.balance_after %></span></p>

    <p class="property string concept"><%= movement.concept %></p>
  </div>
  <%= link_to 'рог', [@account, movement, :comments], :class => 'add_comment' %>
  <div class="comments" id="comments-<%= movement.id %>">
    <% if movement.comments.present? %>
        <% movement.comments.each_line do |comment| %>
            <div class="comment">d<%= comment %></div>
        <% end %>
    <% end %>
  </div>
  <div id="tags-<%= movement.id %>" class="tags taggings"><%= render movement.taggings %></div>
</li>