<% content_for :tools do %>
    <h2>Seleccionados: <span class="selected_counter">0</span></h2>
    <div class="actions">
      <a class="select_all" href="#">todos</a> <a class="select_none" href="#">ninguno</a>
    </div>
    <% form_for BulkAction.new(:name => 'apply_label', :url => request.url), :url => account_actions_path(@account), :html => {:id => 'labelize'} do |form| %>
        <%= form.hidden_field :name %>
        <%= form.hidden_field :movement_ids %>
        <%= form.hidden_field :url %>
        Aplicar : <%= form.select :tag_id, @account.tags.collect { |t| [t.name, t.id] } %>
        <%= form.submit 'A Seleccionados' %>
    <% end %>
<% end %>