<%= div_for movement do %>
  <div class="container row">
    <div class="property date"><%= movement.d.mday %>/<%= movement.d.month %>
      /<%= link_to movement.d.year, "(@account, movement.d.year)" %></div>
    <div class="property number ammount"><%= euros_of movement.ammount, :class => "value #{(movement.ammount > 0 ? 'green' : 'red')}" %></div>
    <div class="property number balance"><span class="ammount"><%= euros movement.balance %></span></div>
    <div class="property string concept"><%= movement.concept %></div>
    <div id="tagging_movement_<%= movement.id %>" class="property tags taggings"><%= render movement.taggings %></div>
  </div>
  <% if movement.comments? %>
    <div class="comments">
      <% movement.comments.each_line do |comment| %>
        <div class="comment"><%= comment %></div>
      <% end %>
    </div>
  <% end %>
<% end %>
