<h2><%= @account.name %></h2>
<%= title 'Resúmen por años' %>


<%= render_report @account.report %>
<%= form_tag account_path(@account), :method => :put do %>
  <% submit_tag 'Actualizar datos' %>
<% end %>
<%= render_tag_report @account.report %>

<%= render @years %>


<% if @years.size == 0 %>
    <div class="info">
      No hay movimientos en tu cuenta. Puedes importar algunos pulsando el botón de "Importar" arriba a la derecha.
    </div>
<% end %>