<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %><%= " - #{@account.name}" if @account %> - Cuentas</title>
  <%= csrf_meta_tag %>
  <% if @account  && @account.id %>
      <meta name="taggins_path" content="<%= account_taggings_path(@account) %>"/>
  <% end %>
  <link rel="shortcut icon" href="/favicon.ico">
  <link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Nobile' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet/less" type="text/css" href="/stylesheets/style.less">
  <script src="/javascripts/less-1.0.41.min.js" type="text/javascript">
  </script>
</head>
<body>
<div id="navigation" class="horizontal-bar">
  <% if @account && @account.id %>
      <%= form_tag account_movements_path(@account), :method => :get do %>
          <div>Buscar:</div>
          <%= text_field_tag :q %>
          Por años:
          <% @account.years.each do |year| %>
              <%= link_to year.number, [@account, year] %>
          <% end %>
      <% end %>
  <% end %>
</div>
<div id="user_bar" class="side-bar">
  <% if current_user %>
      <h1>ஐ</h1>

      <div id="session">
        <h2><%= current_user.name %></h2>

        <h3><%= link_to 'Perfil', '#' %></h3>

        <h3><%= link_to 'Salir', logout_path %></h3>

        <h2><%= link_to 'Cuentas', accounts_path %></h2>
        <% current_user.accounts.each do |account| %>
            <h3><%= link_to account.name, [account, :years] %></h3>
        <% end %>
        <% if current_user.admin? %>
            <h2>Admin</h2>

            <h3><%= link_to 'Actividad', admin_activities_path %></h3>

            <h3><%= link_to 'Usuarios', admin_users_path %></h3>
        <% end %>
      </div>

  <% end %>
</div>
<div id="center">
  <div class="column-1">
    <% flash.each do |name, msg| %>
        <%= content_tag :div, :id => "flash_#{name}", :class => 'flash' do %>
            <%= msg %>
            <%= content_tag :span, :style => "float: right;" do %>
                <%= link_to_function 'x',
                                     :onclick => "document.getElementById('flash_#{name}').style.display='none'" %>
            <% end %>
        <% end %>
    <% end %>


    <%= yield %>
  </div>
  <div id="info"></div>
</div>
<div id="account" class="side-bar">
  <% if @account  && @account.id %>
      <h1><%= @account.name %></h1>

      <div><%= @account.complete_number %></div>
      <h3></h3>

      <div class="actions">
        <%= link_to 'Editar', edit_account_path(@account) %>
        <%= link_to 'Importar', new_account_import_path(@account) %>
      </div>
      <h2><%= link_to 'Movimientos', account_movements_path(@account) %></h2>

      <h3><%= link_to 'Por años', account_years_path(@account) %></h3>


      <h2><%= link_to 'Etiquetas', account_tags_path(@account) %></h2>

      <div class="tags">
        <div class="actions">
          <%= link_to 'Nueva...', [:new, @account, :tag] %>
        </div>
        <% @account.tags.each do |tag| %>
            <div id="tag-<%= tag.id %>" class="tag" style="background-color:<%= tag.color %>">
              <%= link_to tag.name, [@account, tag] %>
            </div>
      <% end %>
      </div>
  <% end %>
</div>

<div id="tools" class="horizontal-bar">
  <% if false and @account %>
      <% form_for BulkAction.new(:name => 'apply_label', :url => request.url), :url => account_actions_path(@account), :html => {:id => 'labelize'} do |form| %>
          <%= form.hidden_field :name %>
          <%= form.hidden_field :movement_ids %>
          <%= form.hidden_field :url %>
          <div>Aplicar la etiqueta:</div>
          <%= form.select :tag_id, @account.tags.collect { |t| [t.name, t.id] } %>
          <div>A los&nbsp;</div>
          <div class="selected_counter">0</div>
          <div>&nbsp;elementos seleccionados.</div>
          <%= form.submit 'Vamos!' %>
      <% end %>
  <% end %>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js">
</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
<script type="text/javascript">
    !window.jQuery && document.write('<script src="/javascripts/jquery-1.4.4.min.js"><\/script>')
</script>
<%= javascript_include_tag 'plugins.js', 'scripts.js' %>
</body>
</html>
